pillow==8.4.0
PyQt5==5.15.6
numpy==1.19.5
termcolor==1.1.0
colorama==0.4.5
pyyaml==6.0
imgviz==1.5.1
qtpy==2.0.1
https://github.com/jadehh/pythonTools/releases/download/JadeV1.9.4/jade-1.9.4-py3-none-any.whl
cython==0.29.33